<html>
	<head>
		<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous">
		</script>

		<style type="text/css">
			button {
				height: 100px;
				width: 100px;
				font-family: helvetica;
				font-size: 15px;
			}

			body {
				font-family: helvetica;
				font-size: 15px;
			}

			.section {
				padding-left: 200px;
			}

			.header {
				padding-left: 400px;
			}
		</style>
	</head>
	<body>
		<h1 class="header">EPIC SOUNDBOARD</h1>
		<div class="section" style="float: left;">
			<img src="brandon.jpeg" class="section-header" style="width: 300px;"></img>
			<div>
				<button type="button" id="pls-no">Pls No</button>
			    <audio id="pls-no-mp3" src="pls_no.mp3"></audio>

				<button type="button" id="fuck-you">Fark you</button>
			    <audio id="fuck-you-mp3" src="fuck_you.mp3"></audio>

				<button type="button" id="drop-you-legit">Drop you legit</button>
			    <audio id="drop-you-legit-mp3" src="drop_legit.mp3"></audio>

			    <button type="button" id="dat-disrespect">Dat disrespect</button>
			    <audio id="dat-disrespect-mp3" src="dat_disrespect.mp3"></audio>

			    <button type="button" id="disrespect-me">Disrespect me</button>
			    <audio id="disrespect-me-mp3" src="disrespect_me.mp3"></audio>

			    <button type="button" id="no-nooo">No nooooo!</button>
			    <audio id="no-nooo-mp3" src="no_nooo.mp3"></audio>

			    <button type="button" id="u-ok">U ok?</button>
			    <audio id="u-ok-mp3" src="u_ok.mp3"></audio>

		        <button type="button" id="outplay">1v1 outplay</button>
			    <audio id="outplay-mp3" src="1v1_outplay.mp3"></audio>

			    <button type="button" id="hello">HELLO!?</button>
			    <audio id="hello-mp3" src="hello.mp3"></audio>
		    </div>
	    </div>

	    <div class="section" style="float: left;">
	    	<img src="lui_beb.jpeg" class="section-header" style="width: 300px;"></img>
	    	<div>
				<button type="button" id="heavy-breathing">*heavy breathing*</button>
			    <audio id="heavy-breathing-mp3" src="heavy_breathing.mp3"></audio>

			    <button type="button" id="do-anything">YOU DIDN'T EVEN DO ANYTHING</button>
			    <audio id="do-anything-mp3" src="did_not_even_do_anything.mp3"></audio>
		    </div>
	    </div>

	    <script src="soundboard.js"></script>
	</body>
</html>