<html>
	<head>
		<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous">
		</script>

		<style type="text/css">
			button {
				height: 100px;
				width: 100px;
				font-family: helvetica;
				font-size: 15px;
			}

			body {
				font-family: helvetica;
				font-size: 15px;
			}

			.section {
				padding-left: 200px;
			}

			.header {
				padding-left: 400px;
			}
		</style>
	</head>
	<body>
		<h1 class="header">EPIC SOUNDBOARD</h1>
		<div class="section" style="float: left;">
			<img src="brandon.jpeg" class="section-header" style="width: 300px;"></img>
			<div>
				<button type="button" id="pls-no">Pls No</button>
			    <div id="pls-no-embed"></div>

				<button type="button" id="fuck-you">Fark you</button>
			    <div id="fuck-you-embed"></div>

				<button type="button" id="drop-you-legit">Drop you legit</button>
			    <div id="drop-you-legit-embed"></div>

			    <button type="button" id="dat-disrespect">Dat disrespect</button>
			    <div id="dat-disrespect-embed"></div>

			    <button type="button" id="disrespect-me">Disrespect me</button>
			    <div id="disrespect-me-embed"></div>

			    <button type="button" id="no-nooo">No nooooo!</button>
			    <div id="no-nooo-embed"></div>

			    <button type="button" id="u-ok">U ok?</button>
			    <div id="u-ok-embed"></div>

		        <button type="button" id="outplay">1v1 outplay</button>
			    <div id="outplay-embed"></div>

			    <button type="button" id="hello">HELLO!?</button>
			    <div id="hello-embed"></div>
		    </div>
	    </div>

	    <div class="section" style="float: left;">
	    	<img src="lui_beb.jpeg" class="section-header" style="width: 300px;"></img>
	    	<div>
				<button type="button" id="heavy-breathing">*heavy breathing*</button>
			    <div id="heavy-breathing-embed"></div>

			    <button type="button" id="do-anything">YOU DIDN'T EVEN DO ANYTHING</button>
			    <div id="do-anything-embed"></div>
		    </div>
	    </div>

	    <script src="soundboard.js"></script>
	</body>
</html>